footer {
    background-color: var(--primary);
    height: 160px;
    padding-inline: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div.contact-info {
    color: var(--white);
    display: grid;
    gap: 8px;
}

footer div.contact-info p {
    color: var(--white);
}


footer nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer nav a {
    color: var(--white);
}